{% extends 'blog/base.html' %}
 
{% block content %}
 
<h1>{{post.title}}</h1>
 
{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}
 
{{post.content|linebreaks}}
<p>Комментарии</p>
{% for comment in comments %}
        <p class="comment"><span class="username">{{ comment.created_at }}:{{ comment.user.username }}:</span>{{ comment.text }}: </p>
{% endfor %}

<form class="comment-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить комментарий</button>
</form>

{% endblock %}